/*.hk { background-size:75%;}*/

.hk { /*height: 1478px; width: 2636px;*/  }

.dlc {}

.dlc ul li .dn {}
.dlc ul li .di { width:135px; font-size:0.8em; position:absolute; line-height: 1em; }

.dlc ul#m1 { }
.dlc ul#m1 li#m1-2 { left: 1213px; top: 1011px;}
.dlc ul#m1 li#m1-3 { left: 1157px; top: 986px;}
.dlc ul#m1 li#m1-4 { left: 1131px; top: 938px;}
.dlc ul#m1 li#m1-5 { left: 1041px; top: 870px;}
.dlc ul#m1 li#m1-6 { left: 993px; top: 822px;}
.dlc ul#m1 li#m1-7 { left: 941px; top: 771px;}
.dlc ul#m1 li#m1-8 { left: 879px; top: 815px;}

.dlc ul#m1a {}
.dlc ul#m1a li#m1a-1 { left: 835px; top: 874px;}
.dlc ul#m1a li#m1a-2 { left: 785px; top: 925px;}
.dlc ul#m1a li#m1a-5 { left: 613px; top: 1096px;}
.dlc ul#m1a li#m1a-6 { left: 567px; top: 1122px;}
.dlc ul#m1a li#m1a-7 { left: 515px; top: 1175px;}
.dlc ul#m1a li#m1a-8 { left: 471px; top: 1238px;}
.dlc ul#m1a li#m1a-9 { left: 421px; top: 1288px;}
.dlc ul#m1a li#m1a-10 { left: 369px; top: 1340px;}

.dlc ul#m1b {}
.dlc ul#m1b li#m1b-1 { left: 836px; top: 823px;}
.dlc ul#m1b li#m1b-2 { left: 785px; top: 823px;}
.dlc ul#m1b li#m1b-3 { left: 733px; top: 823px;}
.dlc ul#m1b li#m1b-4 { left: 669px; top: 823px;}

.dlc ul#m2 {}
.dlc ul#m2 li#m2-1 { left: 1242px; top: 1071px;}
.dlc ul#m2 li#m2-2 { left: 1194px; top: 991px;}
.dlc ul#m2 li#m2-3 { left: 1355px; top: 821px;}
.dlc ul#m2 li#m2-4 { left: 1341px; top: 717px;}
.dlc ul#m2 li#m2-5 { left: 1341px; top: 613px;}
.dlc ul#m2 li#m2-6 { left: 1355px; top: 561px;}
.dlc ul#m2 li#m2-7 { left: 1336px; top: 513px;}
.dlc ul#m2 li#m2-8 { left: 1359px; top: 491px;}
.dlc ul#m2 li#m2-9 { left: 1355px; top: 405px;}
.dlc ul#m2 li#m2-10 { left: 1355px; top: 353px;}
.dlc ul#m2 li#m2-11 { left: 1355px; top: 291px;}
.dlc ul#m2 li#m2-11b { left: 1304px; top: 301px;}
.dlc ul#m2 li#m2-12 { left: 1355px; top: 250px;}
.dlc ul#m2 li#m2-13 { left: 1355px; top: 198px;}
.dlc ul#m2 li#m2-14 { left: 1355px; top: 146px;}
.dlc ul#m2 li#m2-15 { left: 1355px; top: 94px;}

.dlc ul#m3 {}
.dlc ul#m3 li#m3-1 { left: 679px; top: 353px;}
.dlc ul#m3 li#m3-1 .di, 
.dlc ul#m3 li#m3-2 .di, 
.dlc ul#m3 li#m3-3 .di,
.dlc ul#m3 li#m3-4 .di,
.dlc ul#m3 li#m3-5 .di,
.dlc ul#m3 li#m3-8 .di { width:100px;}
.dlc ul#m3 li#m3-2 { left: 679px; top: 407px;}
.dlc ul#m3 li#m3-3 { left: 679px; top: 458px;}
.dlc ul#m3 li#m3-4 { left: 679px; top: 510px;}
.dlc ul#m3 li#m3-5 { left: 669px; top: 562px;}
.dlc ul#m3 li#m3-6 { left: 576px; top: 562px;}
.dlc ul#m3 li#m3-7 { left: 625px; top: 562px;}
.dlc ul#m3 li#m3-8 { left: 679px; top: 614px;}
.dlc ul#m3 li#m3-9 { left: 679px; top: 666px;}
.dlc ul#m3 li#m3-10 { left: 679px; top: 718px;}
.dlc ul#m3 li#m3-11 { left: 679px; top: 760px;}

.dlc ul#m4 {}
.dlc ul#m4 li#m4-1 { left: 1712px; top: 1126px;}
.dlc ul#m4 li#m4-2 { left: 1822px; top: 1020px;}
.dlc ul#m4 li#m4-3 { left: 1877px; top: 1029px;}
.dlc ul#m4 li#m4-4 { left: 1957px; top: 1058px;}
.dlc ul#m4 li#m4-5 { left: 1979px; top: 1029px;}
.dlc ul#m4 li#m4-6 { left: 2034px; top: 1029px;}
.dlc ul#m4 li#m4-7 { left: 2085px; top: 1029px;}
.dlc ul#m4 li#m4-8 { left: 2136px; top: 1029px;}
.dlc ul#m4 li#m4-9 { left: 2187px; top: 1029px;}
.dlc ul#m4 li#m4-10 { left: 2240px; top: 1029px;}
.dlc ul#m4 li#m4-11 { left: 2292px; top: 1029px;}
.dlc ul#m4 li#m4-12 { left: 2347px; top: 1029px;}
.dlc ul#m4 li#m4-13 { left: 2399px; top: 1029px;}
.dlc ul#m4 li#m4-14 { left: 2450px; top: 1029px;}
.dlc ul#m4 li#m4-15 { left: 2502px; top: 1029px;}
.dlc ul#m4 li#m4-16 { left: 2552px; top: 1029px;}

.dlc ul#t1 {}
.dlc ul#t1 li#t1-2 { left: 627px; top: 823px;}
.dlc ul#t1 li#t1-3 { left: 575px; top: 823px;}
.dlc ul#t1 li#t1-4 { left: 575px; top: 865px;}
.dlc ul#t1 li#t1-5 { left: 575px; top: 907px;}
.dlc ul#t1 li#t1-6 { left: 575px; top: 948px;}
.dlc ul#t1 li#t1-7 { left: 575px; top: 989px;}
.dlc ul#t1 li#t1-8 { left: 575px; top: 1029px;}
.dlc ul#t1 li#t1-9 { left: 668px; top: 1021px;}
.dlc ul#t1 li#t1-10 { left: 735px; top: 1029px;}
.dlc ul#t1 li#t1-11 { left: 785px; top: 1029px;}
.dlc ul#t1 li#t1-12 { left: 835px; top: 1029px;}
.dlc ul#t1 li#t1-13 { left: 890px; top: 1029px;}
.dlc ul#t1 li#t1-14 { left: 941px; top: 1011px;}
.dlc ul#t1 li#t1-15 { left: 992px; top: 1029px;}
.dlc ul#t1 li#t1-16 { left: 1045px; top: 1029px;}
.dlc ul#t1 li#t1-17 { left: 1097px; top: 1029px;}
.dlc ul#t1 li#t1-18 { left: 1148px; top: 1029px;}
.dlc ul#t1 li#t1-19 { left: 1193px; top: 1023px;}
.dlc ul#t1 li#t1-20 { left: 1251px; top: 1029px;}
.dlc ul#t1 li#t1-21 { left: 1286px; top: 1020px;}
.dlc ul#t1 li#t1-22 { left: 1356px; top: 1029px;}
.dlc ul#t1 li#t1-23 { left: 1407px; top: 1029px;}
.dlc ul#t1 li#t1-24 { left: 1407px; top: 996px;}
.dlc ul#t1 li#t1-25 { left: 1407px; top: 962px;}
.dlc ul#t1 li#t1-26 { left: 1398px; top: 925px;}
.dlc ul#t1 li#t1-27 { left: 1407px; top: 873px;}
.dlc ul#t1 li#t1-28 { left: 1398px; top: 717px;}
.dlc ul#t1 li#t1-29 { left: 1407px; top: 683px;}
.dlc ul#t1 li#t1-30 { left: 1407px; top: 649px;}
.dlc ul#t1 li#t1-31 { left: 1398px; top: 613px;}

.dlc ul#t3 {}
.dlc ul#t3 li#t3-1 { left: 1772px; top: 1133px;}
.dlc ul#t3 li#t3-2 { left: 1823px; top: 1133px;}
.dlc ul#t3 li#t3-3 { left: 1823px; top: 1185px;}
.dlc ul#t3 li#t3-4 { left: 1823px; top: 1237px;}
.dlc ul#t3 li#t3-5 { left: 1823px; top: 1290px;}
.dlc ul#t3 li#t3-6 { left: 1772px; top: 1290px;}
.dlc ul#t3 li#t3-7 { left: 1719px; top: 1290px;}
.dlc ul#t3 li#t3-8 { left: 1719px; top: 1237px;}
.dlc ul#t3 li#t3-9 { left: 1719px; top: 1185px;}

.dlc ul#t4 {}
.dlc ul#t4 li#t4-22 { left: 835px; top: 94px;}
.dlc ul#t4 li#t4-21 { left: 835px; top: 146px;}
.dlc ul#t4 li#t4-20 { left: 835px; top: 198px;}
.dlc ul#t4 li#t4-19 { left: 835px; top: 250px;}
.dlc ul#t4 li#t4-18 { left: 835px; top: 301px;}
.dlc ul#t4 li#t4-17 { left: 835px; top: 353px;}
.dlc ul#t4 li#t4-16 { left: 835px; top: 405px;}
.dlc ul#t4 li#t4-15 { left: 835px; top: 457px;}
.dlc ul#t4 li#t4-14 { left: 835px; top: 510px;}
.dlc ul#t4 li#t4-13 { left: 835px; top: 561px;}
.dlc ul#t4 li#t4-12 { left: 835px; top: 614px;}
.dlc ul#t4 li#t4-11 { left: 889px; top: 614px}
.dlc ul#t4 li#t4-10 { left: 941px; top: 614px}
.dlc ul#t4 li#t4-9 { left: 992px; top: 614px}
.dlc ul#t4 li#t4-8 { left: 1033px; top: 654px;}
.dlc ul#t4 li#t4-7 { left: 1072px; top: 693px;}
.dlc ul#t4 li#t4-6 { left: 1115px; top: 737px;}
.dlc ul#t4 li#t4-5 { left: 1158px; top: 779px;}
.dlc ul#t4 li#t4-4 { left: 1156px; top: 865px;}
.dlc ul#t4 li#t4-3 { left: 1088px; top: 917px;}
.dlc ul#t4 li#t4-2 { left: 1054px; top: 968px;}

.dlc ul#f2 li#f2-2 { left: 1341px; top: 704px;}

.dlc ul#mb { }
.dlc ul#mb li#mb-1 { left: 56px; top: 613px;}
.dlc ul#mb li#mb-2 { left: 56px; top: 665px;}
.dlc ul#mb li#mb-3 { left: 56px; top: 717px;}
.dlc ul#mb li#mb-4 { left: 56px; top: 770px;}
.dlc ul#mb li#mb-5 { left: 56px; top: 820px;}
.dlc ul#mb li#mb-6 { left: 56px; top: 872px;}
.dlc ul#mb li#mb-7 { left: 56px; top:924px;}
.dlc ul#mb li#mb-8 { left: 56px; top:978px;}
.dlc ul#mb li#mb-9 { left: 56px; top:1030px;}
.dlc ul#mb li#mb-10 { left: 56px; top:1082px;}
.dlc ul#mb li#mb-11 { left: 56px; top:1133px;}
.dlc ul#mb li#mb-12 { left: 56px; top:1184px;}
.dlc ul#mb li#mb-13 { left: 109px; top:1184px;}
.dlc ul#mb li#mb-14 { left: 161px; top:1184px;}
.dlc ul#mb li#mb-15 { left: 213px; top:1184px;}
.dlc ul#mb li#mb-16 { left: 265px; top:1184px;}
.dlc ul#mb li#mb-17 { left: 317px; top:1184px;}
.dlc ul#mb li#mb-18 { left: 369px; top:1184px;}
.dlc ul#mb li#mb-19 { left: 421px; top:1184px;}
.dlc ul#mb li#mb-20 { left: 473px; top:1184px;}
.dlc ul#mb li#mb-21 { left: 455px; top: 1130px;}
.dlc ul#mb li#mb-23 { left: 637px; top: 1060px;}
.dlc ul#mb li#mb-25 { left: 717px; top: 972px;}
.dlc ul#mb li#mb-26 { left: 889px; top: 1011px;}
.dlc ul#mb li#mb-28 { left: 1005px; top: 948px;}
.dlc ul#mb li#mb-30 { left: 1014px; top: 787px;}
.dlc ul#mb li#mb-31 { left: 1193px; top: 761px;}
.dlc ul#mb li#mb-32 { left: 1253px; top: 700px;}
.dlc ul#mb li#mb-33 { left: 1290px; top: 663px;}
.dlc ul#mb li#mb-34 { left: 1304px; top: 612px;}
.dlc ul#mb li#mb-35 { left: 1304px; top: 560px;}
.dlc ul#mb li#mb-36 { left: 1304px; top: 508px;}
.dlc ul#mb li#mb-37 { left: 1212px; top: 491px;}
.dlc ul#mb li#mb-38 { left: 1399px; top: 493px;}
.dlc ul#mb li#mb-39 { left: 1720px; top: 509px;}
.dlc ul#mb li#mb-40 { left: 1928px; top: 508px;}
.dlc ul#mb li#mb-41 { left: 1928px; top: 665px;}
.dlc ul#mb li#mb-42 { left: 1928px; top: 821px;}
.dlc ul#mb li#mb-43 { left: 1928px; top: 1020px;}
.dlc ul#mb li#mb-44 { left: 1928px; top: 1085px;}
.dlc ul#mb li#mb-45 { left: 1928px; top: 1133px;}

.dlc ul#mr {}
.dlc ul#mr li#mr-1 { left: 1200px; top: 1132px;}
.dlc ul#mr li#mr-4 { left: 1719px; top: 925px;}

.dlc ul#t1 li#t1-21 .di { left: -103px; top: -15px;}
.dlc ul#mb li#mb-28 .di { left: -51px; top: -25px;}